target
**/*.rs.bk
dist
node_modules
# pkg
*.docx#
*.docx
output/*.docx
vrt/screenshot/actual
vrt/screenshot/diff
vrt/report.html
reg.json
docx-core/tests/output/*.docx
docx-wasm/*.tgz

docx-core/tests/output/*.json