.DS_Store
target
**/*.rs.bk
dist
node_modules
# pkg
*.docx#
*.docx
!fixtures/**/*.docx
output/*.docx
output/**/*.json
output/*.xml
vrt/screenshot/actual
vrt/screenshot/diff
vrt/report.html
reg.json
docx-core/tests/output/*.docx
docx-wasm/*.tgz
docx-core/bindings
test.json
image.json
docx-core/tests/output/*.json