[package]
name = "docx-rs"
version = "0.4.17"
authors = ["bokuweb <bokuweb12@gmail.com>"]
repository = "https://github.com/bokuweb/docx-rs"
edition = "2018"
license = "MIT"
readme = "../README.md"
description = "A .docx file writer with Rust/WebAssembly."
keywords = [
  "office",
  "word",
  "docx",
]

[lib]
name = "docx_rs"
path = "src/lib.rs"

[features]
wasm = ["wasm-bindgen", "ts-rs"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
xml-rs = "0.8.4"
thiserror = "1.0"
zip = { version = "0.6.3", default-features = false, features = ["deflate"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = {version = "1.0" }
base64 = "0.13.1"
image = { version = "0.24.4", default-features = false, features=["gif", "jpeg", "png", "bmp", "tiff"] }
wasm-bindgen = { version = "0.2.78", optional = true }
ts-rs = { version = "6.1", optional = true }

[dev-dependencies]
pretty_assertions = "1.3.0"
insta = "1.16"
