[package]
name = "docx-core"
version = "0.1.0"
authors = ["bokuweb <bokuweb12@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
xml-rs = "0.8.0"
wasm-bindgen = "0.2.50"
zip = { version = "0.5", default-features = false }

[dev-dependencies]
pretty_assertions = "*"