[package]
name = "docx-rs"
version = "0.2.1"
authors = ["bokuweb <bokuweb12@gmail.com>"]
repository = "https://github.com/bokuweb/docx-rs"
edition = "2018"
license = "MIT"
readme = "../README.md"
description = "A .docx file generater with Rust/WebAssembly."
keywords = [
  "office",
  "word",
  "docx",
]

[lib]
name = "docx_rs"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
xml-rs = "0.8.0"
wasm-bindgen = "0.2.50"
thiserror = "1.0"
zip = { version = "0.5.4", default-features = false, features = ["deflate"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[dev-dependencies]
pretty_assertions = "0.6.1"
insta = "0.13"
