[package]
name = "docx-rs"
version = "0.4.18"
authors = ["bokuweb <bokuweb12@gmail.com>"]
repository = "https://github.com/bokuweb/docx-rs"
edition = "2021"
license = "MIT"
readme = "../README.md"
description = "A .docx file writer with Rust/WebAssembly."
keywords = [
  "office",
  "word",
  "docx",
]

[lib]
name = "docx_rs"
path = "src/lib.rs"

[features]
default = ["image"]
wasm = ["wasm-bindgen", "ts-rs", "image"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
xml-rs = { version = "0.8.27", default-features = false }
thiserror = "2.0.12"
zip = { version = "0.6.3", default-features = false, features = ["deflate"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = {version = "1.0.142" }
base64 = "0.22.1"
image = { version = "0.25.6", default-features = false, features=["gif", "jpeg", "png", "bmp", "tiff"], optional = true }
wasm-bindgen = { version = "0.2.92", optional = true }
ts-rs = { version = "11.0.1", optional = true }

[dev-dependencies]
pretty_assertions = "1.4.1"
insta = "1.43.1"
